Repository blbecker/homelab: changes, and which lefthook commands are due for each by the changed paths.
All: tf-format, prettier

tf-format:
  run: terraform fmt terraform {staged_files}

prettier:
  run: prettier {staged_files} --ignore-unknown --write

chore(deps): update terraform cloudflare to ~> 5.19.0
  terraform/mikrotik_router/.terraform.lock.hcl
  terraform/mikrotik_router/provider.tf
  terraform/top_of_rack/.terraform.lock.hcl
  terraform/top_of_rack/provider.tf
Due: tf-format

chore(deps): update terraform acme to ~> 2.48.0
  terraform/mikrotik_router/.terraform.lock.hcl
  terraform/mikrotik_router/provider.tf
Due: tf-format

chore(deps): update dependency terragrunt to v1.0.3
  .tool-versions
Due: none

chore(config): migrate config renovate.json
  renovate.json
Due: prettier

chore(deps): update helm release kube-prometheus-stack to v84.5.0
  flux/infra/prometheus-operator/helmrelease.yaml
Due: prettier

chore(deps): update docker.io/linuxserver/apprise-api docker tag to v1.4.1
  flux/apps/apprise/deployment.yml
Due: prettier

chore(deps): update docker.io/louislam/uptime-kuma docker tag to v2.3.2
  flux/apps/uptimekuma/deployment.yml
Due: prettier

chore(deps): update docker.io/actualbudget/actual-server docker tag to v26.5.0
  flux/apps/actual/deployment.yml
Due: prettier

chore(deps): update docker.io/garethgeorge/backrest docker tag to v1.13.0
  flux/infra/backrest/deployment.yml
Due: prettier

chore(deps): update helm release traefik to v39.0.9
  flux/infra/traefik/helmrelease.yml
Due: prettier

chore: resize context
  flux/infra/openclaw-agent-claw/files/openclaw.json
  flux/infra/openclaw-agent-dot/files/openclaw.json
Due: prettier

chore(deps): update terraform acme to v2.48.1
  terraform/mikrotik_router/.terraform.lock.hcl
Due: none

chore(deps): update terraform cloudflare to v5.19.1
  terraform/mikrotik_router/.terraform.lock.hcl
  terraform/top_of_rack/.terraform.lock.hcl
Due: none

chore(deps): update helm release longhorn to v1.11.2
  flux/infra/longhorn/helmrelease.yml
Due: prettier

chore(deps): update dependency terraform to v1.15.2
  .tool-versions
Due: none

chore(deps): update dependency terragrunt to v1.0.4
  .tool-versions
Due: none

chore(deps): update docker.io/foxxmd/multi-scrobbler docker tag to v0.13.3
  flux/apps/multiscrobbler/deployment.yaml
Due: prettier

chore(deps): update forgejo.ellis.link/continuwuation/continuwuity docker tag to v0.5.9
  flux/apps/continuwuity/deployment.yaml
Due: prettier

chore(deps): update ghcr.io/mealie-recipes/mealie docker tag to v3.17.0
  flux/apps/mealie/deployment.yml
Due: prettier

chore(deps): update helm release harbor to v1.19.0
  flux/infra/harbor/helmrelease.yml
Due: prettier

chore(deps): update docker.io/actualbudget/actual-server docker tag to v26.5.2
  flux/apps/actual/deployment.yml
Due: prettier

chore(deps): update docker.io/linuxserver/luanti docker tag to v5.16.1
  flux/apps/minetest/deployment.yml
Due: prettier

chore(deps): update docker.io/influxdb docker tag to v2.9.1
  flux/infra/influxdb/deployment.yml
Due: prettier

chore(deps): update helm release reflector to v10.0.42
  flux/infra/reflector/helmrelease.yml
Due: prettier

chore(deps): update helm release traefik to v40
  flux/infra/traefik/helmrelease.yml
Due: prettier

Path conditions:
  tf-format: any of: *.{tf,tfvars,tftest.hcl}
  prettier: any of: *.{js,md,yml,yaml,json}
