Repository blbecker/homelab: changes, and which lefthook commands are due for each by the changed paths.
All: tf-format, prettier

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: '(^|/)(application|routes)\.rb$'
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

pre-commit:
  parallel: true
  commands:
    tf-format:
      glob: "*.{tf,tfvars,tftest.hcl}"
      run: terraform fmt terraform {staged_files}

    prettier:
      glob: "*.{js,md,yml,yaml,json}"
      run: prettier {staged_files} --ignore-unknown --write

    encrypt:
      stage_fixed: true
      run: |
        ejson e terraform/secrets.tfvars.ejson && \
        dotenvx encrypt

    # gitleaks:
    #   run: docker run -v $(pwd):/path zricethezav/gitleaks:latest protect --staged --verbose --source="/path"
    # kubeconform:
    #   glob: "flux/**/*.yml"
    #   run: docker run -v $(pwd):/data ghcr.io/yannh/kubeconform:latest -summary -ignore-missing-schemas /data/flux/ --ignore-filename-pattern /data/flux/infra/telegraf/mib-initcontainer-patch.yaml
    # kubescore:
    # glob: "flux/**/*.yml"
    # run: docker run -v $(pwd):/project zegl/kube-score:latest score {staged_files} --ignore-test container-ephemeral-storage-request-and-limit --ignore-test container-security-context-user-group-id --ignore-test pod-networkpolicy --ignore-test container-security-context-readonlyrootfilesystem --output-format human

chore(deps): update dependency terragrunt to v0.97.1
  .tool-versions
Due: none

chore: add base url
  flux/apps/multiscrobbler/configmap.yaml
Due: prettier

chore: set a world name
  flux/apps/minetest/deployment.yml
Due: prettier

feat: add an init container to set perms
  flux/apps/knot/deployment.yaml
Due: prettier

chore: remove world spec
  flux/apps/minetest/deployment.yml
Due: prettier

chore(deps): update syncthing/syncthing docker tag to v2.0.13
  flux/apps/syncthing/deployment.yml
Due: prettier

chore(deps): update dependency terraform to v1.14.3
  .tool-versions
Due: none

chore(deps): update dependency alert to notification.toolkit.fluxcd.io/v1beta3
  flux/clusters/tartarus.us/alerts/slack-deployment.yml
Due: prettier

chore(deps): update dependency terragrunt to v0.97.2
  .tool-versions
Due: none

chore(deps): update ghcr.io/yannh/kubeconform docker tag to v0.7.0
  .github/workflows/deploy.yml
Due: prettier

chore(deps): update linuxserver/luanti docker tag to v5.15.0
  flux/apps/minetest/deployment.yml
Due: prettier

chore(deps): update rancher/system-upgrade-controller docker tag to v0.18.0
  flux/infra/system-upgrade-controller/system-upgrade-controller.yaml
Due: prettier

chore(deps): update terraform acme to ~> 2.41.0
  terraform/mikrotik_router/.terraform.lock.hcl
  terraform/mikrotik_router/provider.tf
Due: tf-format

chore(deps): update terraform cloudflare to ~> 5.15.0
  terraform/mikrotik_router/.terraform.lock.hcl
  terraform/mikrotik_router/provider.tf
  terraform/top_of_rack/.terraform.lock.hcl
  terraform/top_of_rack/provider.tf
Due: tf-format

chore(deps): update terraform routeros to v1.98.0
  terraform/mikrotik_router/.terraform.lock.hcl
  terraform/top_of_rack/.terraform.lock.hcl
Due: none

chore(deps): update terraform tls to ~> 4.1.0
  terraform/mikrotik_router/.terraform.lock.hcl
  terraform/mikrotik_router/provider.tf
  terraform/top_of_rack/.terraform.lock.hcl
  terraform/top_of_rack/provider.tf
Due: tf-format

chore(deps): update actions/checkout action to v6
  .github/workflows/deploy.yml
  .github/workflows/flux-update.yml
Due: prettier

chore(deps): update actions/download-artifact action to v7
  .github/workflows/deploy.yml
Due: prettier

chore(deps): update actions/upload-artifact action to v6
  .github/workflows/deploy.yml
Due: prettier

chore(deps): update grafana/grafana docker tag to v12
  flux/infra/grafana/deployment.yml
Due: prettier

chore(deps): update peter-evans/create-pull-request action to v8
  .github/workflows/flux-update.yml
Due: prettier

feat: powerline ethernet
  terraform/mikrotik_router/locals.tf
Due: tf-format

feat: configure my user
  ansible/ansible.cfg
  ansible/roles/common/files/users/public_keys/tartarus.pub
  ansible/roles/common/tasks/main.yml
  ansible/roles/common/vars/main.yml
  ansible/roles/tartarus_k3s/tasks/main.yml
  ansible/roles/tartarus_k3s/vars/secrets.yml
Due: prettier

chore(deps): update terraform acme to ~> 2.43.0
  terraform/mikrotik_router/.terraform.lock.hcl
  terraform/mikrotik_router/provider.tf
Due: tf-format

chore(deps): update garethgeorge/backrest docker tag to v1.11.1
  flux/infra/backrest/deployment.yml
Due: prettier

chore(deps): update ghcr.io/bluesky-social/pds docker tag to v0.4.204
  flux/apps/bsky/deployment.yaml
Due: prettier

feat: add cleanup task
  flux/infra/longhorn-jobs/default-snapshot-delete.yml
Due: prettier

chore: reorder cleanup and delete jobs
  flux/infra/longhorn-jobs/default-snapshot-cleanup.yml
  flux/infra/longhorn-jobs/default-snapshot-delete.yml
Due: prettier

chore: bump longhorn version
  flux/infra/longhorn/helmrelease.yml
Due: prettier

chore: disable preUpgradeChecker.
  flux/infra/longhorn/helmrelease.yml
Due: prettier

chore: change service to clusterip
  flux/infra/longhorn/helmrelease.yml
Due: prettier

chore: restore 1.7.3 version (temp)
  flux/infra/longhorn/helmrelease.yml
Due: prettier

chore: bump version to 1.9.2
  flux/infra/longhorn/helmrelease.yml
Due: prettier

chore: update to 1.8.2 first
  flux/infra/longhorn/helmrelease.yml
Due: prettier

chore(deps): update linuxserver/apprise-api docker tag to v1.3.1
  flux/apps/apprise/deployment.yml
Due: prettier

chore(deps): update garethgeorge/backrest docker tag to v1.11.2
  flux/infra/backrest/deployment.yml
Due: prettier

chore(deps): update ghcr.io/immich-app/immich-machine-learning docker tag to v2.5.5
  flux/apps/immich/machine-learning-deployment.yml
Due: prettier

chore(deps): update ghcr.io/immich-app/immich-server docker tag to v2.5.5
  flux/apps/immich/server-deployment.yml
Due: prettier

chore(deps): update cloudflare/cloudflared docker tag to v2026
  flux/infra/cloudflared/deployment.yml
Due: prettier

chore: remove comment
  ansible/roles/tartarus_nut_common/tasks/main.yml
Due: prettier
